*.o
*.out
include/Eigen/*
*.bak
doc/*
.idea/
cmake-build*/
/benchmark/.Rhistory
/benchmark/Rplots.pdf
/benchmark/benchmark_res.txt
/benchmark/.Rhistory
/benchmark/Rplots.pdf
/benchmark/benchmark_res.txt
